TOKEN = "your-discord-bot-token"
BOT_ID = 123456789101111213
DESCRIPTION = "FactorioQuizBot"

# 0=CRITICAL, 1=ERROR, 2=WARNING, 3=INFO, 4=DEBUG
LOG_LEVEL = 3

PREFIX = "+"
# currently supported languages:
# fr=FRENCH
LANGUAGE = "fr"
